<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
<div id="slip">
    <div id="leftPart">
        <div id="receiptTitle">
            <h1>{{receipt}}</h1>
        </div>
        <div id="receiptAccount" class="receipt-value">
            <h4>{{payableTo}}</h4>
            <p>{{recipientIban}}</p>
            <p>{{recipientName}}</p>
            <p>{{recipientStreet}} {{recipientNo}}</p>
            <p>{{recipientPlz}} {{recipientCity}}</p>
            <br>
            <h4>{{ref}}</h4>
            <p>{{recipientRef}}</p>
            <br>
            <h4>{{payableBy}}</h4>
            {% if fromFirstName is not null %}
                <div class="corners receipt-payable-by">
                    <span></span>
                </div>
            {% else %}
                <p>{{fromFirstName}} {{fromName}}</p>
                <p>{{fromStreet}} {{fromNo}}</p>
                <p>{{fromPlz}} {{fromCity}}</p>
            {% endif %}
        </div>
        <div id="receiptCurrencyTitle">
            <h4>W&auml;hrung</h4>
            <p>{{currencyTitle.value}}</p>
        </div>
        <div id="receiptCurrencyAmount">
            <h4>{{currencyAmountTitle}}</h4>
            {% if currencyAmountTitle.value is not null %}
            <div class="corners receipt-currency-amount">
                <span>
                </span>
            </div>
            {% else %}
            <p>{{currencyAmountTitle.value}}</p>
            {% endif %}
        </div>
        <div id="receiptAcceptancePoint">
            <h4>{{acceptancePoint}}</h4>
        </div>

        <!--</div><div id="middlePart">-->
        <div id="paymentTitle">
            <h1>{{paymentTitle}}</h1>
        </div>
        <div id="paymentQrCode">
            <img src="{{srcQrCode}}" alt="QR-Code">
        </div>
        <div id="paymentCurrencyTitle">
            <h4>W&auml;hrung</h4>
            <p>{{currencyTitle.value}}</p>
        </div>
        <div id="paymentCurrencyAmount">
            <h4>{{currencyAmountTitle}}</h4>
            {% if currencyAmountTitle.value is not null %}
            <div class="corners payment-currency-amount">
                <span>
                </span>
            </div>
            {% else %}
            <p>{{currencyAmountTitle.value}}</p>
            {% endif %}
        </div>
    </div>
    <div id="rightPart">
        <div id="paymentAccount">
            <h3>{{account}}</h3>
            <p class="payment-part-data">{{recipientIban}}</p>
            <p class="payment-part-data">{{recipientName}}</p>
            <p class="payment-part-data">{{recipientStreet}} {{recipientNo}}</p>
            <p class="payment-part-data">{{recipientPlz}} {{recipientCity}}</p>
            <br>
            <h3>{{ref}}</h3>
            <p class="payment-part-data">{{paymentRef}}</p>
            <br>
            <h3>{{paymentAdditionalInfo}}</h3>
            <p class="payment-part-data">Tex text text</p>
            <br>

            <h3>{{paymentPayableByTitle}}</h3>
            {% if fromFirstName is not null %}
            <div class="corners payment-payable-by">
                <span>
                </span>
            </div>
            {% else %}
            <p class="payment-part-data">{{fromFirstName}} {{fromName}}</p>
            <p class="payment-part-data">{{fromStreet}}{{fromNo}}</p>
            <p class="payment-part-data">{{fromPlz}} {{fromCity}}</p>
            {% endif %}
        </div>
    </div>
</div>
</body>
</html>